@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  body {
    font-family: "Geologica";
  }
  .blurred {
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(2px);
    padding: 20px;
    margin: 30px;
    font-weight: bold;
    background-size: cover;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
  }

  .container::-webkit-scrollbar {
    height: 1px;
  }

  .container::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
  }

  .container::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
  }
}
